VITE_OPENWEATHER_API_KEY=
VITE_OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5

VITE_DOG_API_KEY=
VITE_DOG_API_URL=https://api.thedogapi.com/v1

VITE_CAT_API_KEY=
VITE_CAT_API_URL=https://api.thecatapi.com/v1

VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

VITE_ANTHROPIC_API_KEY=

VITE_API_BASE_URL=http://localhost:3001

VITE_TWILIO_ACCOUNT_SID=pendiente
VITE_TWILIO_AUTH_TOKEN=pendiente
VITE_TWILIO_PHONE_NUMBER=pendiente

VITE_GOOGLE_MAPS_API_KEY=pendiente
VITE_GOOGLE_CALENDAR_CLIENT_ID=pendiente
